[2014-03-29 10:13] davidfowl opened #1 "Potential race condition between verification and copying files"
Since we're verifying a symlinked directory (project\dev\Latest\build), it's possible that path will be updated between verifying that package and copying it after verification passes.

We should probably resolve the symlink when we pick it as a candidate to avoid this.

[2014-04-25 16:53] pranavkm opened #5 "Keep track of packages already pushed to the feed"
Today we end up pushing all packages to the feed as part of Coherence. CoreCLR packages consequently end up getting pushed multiple times through out the day.

We could make the push smarter by keeping track of what was last pushed and only pushing those that do not exist on the feed or are different.

[2015-03-27 18:15] BrennanConroy opened #12 "Support native pdb and sources"
Specifically dnx, dnx.clr, dnx.coreclr, and dnx.coreclr.unix.

We'll also need to make those project put their output somewhere Coherence can grab it.

[2015-07-09 23:48] troydai opened #22 "Remove old packages from the volatile feed automatically after a successful coherence build."

[2015-07-09 23:49] troydai commented on #22
/cc @muratg @Eilon

[2015-07-15 10:09] davidfowl commented on #1
@troydai was this fixed?

[2015-07-15 10:09] davidfowl commented on #5
@pranavkm Still need this?

[2015-07-15 13:30] pranavkm commented on #5
Nope - this should either be fixed or we don't care

[2015-07-15 13:30] #5 closed

[2015-07-15 15:30] troydai commented on #1
I don't think when I typed "#1" it means this issue. So it is not fixed. However, I never saw this happen ever since I begin working on Coherence.

[2015-07-20 21:37] troydai commented on #22
Working on this right now.

[2015-07-21 17:17] troydai opened #23 "No need fail the build when a particular branch folder of a project is not found."
Check out this build log: http://projectk-tc/viewLog.html?buildId=141607&buildTypeId=Coherence&tab=buildLog. It fails because:
[code]
This is not necessary since it simply means there is no release build for this project.

[2015-07-22 06:15] troydai opened #26 "Consider make the tools dnx global command apps."

[2015-08-11 17:03] moozzyk opened #29 "A lot of symbols/sources are missing from the share"
SanityCheck tries to push symbols and source for built packages to a share. To do that it uses the NuGet `pushsymbols` command (https://github.com/aspnet/Coherence/blob/dev/src/SanityCheck/Program.cs#L398). However half of the packages are missing from the share. Trying to manually reproduce this issue we found that is because sometimes the pushsymbols command fails with 'Package X already has a d

[2015-08-11 17:34] pranavkm commented on #29
* The CI uses a magical build of NuGet that had a  `pushsymbols` command.
* We were running out of space and I ended up wiping out the symbols share once or twice in the past.
* I think http://symbolsource.org fixed the issue with DNX packages. Perhaps we should try pushing there again?

[2015-08-11 17:52] pranavkm commented on #29
Additionally with the new CI, using a file share is a non-starter.

[2015-08-11 18:30] moozzyk commented on #29
@victorhurdugaci

[2015-08-11 18:37] victorhurdugaci commented on #29
@pranavkm huh?

[2015-09-08 16:28] muratg commented on #1
@victorhurdugaci did you see this while working on the new CI?

[2015-09-09 20:13] muratg commented on #29
Bringing this back -- are we currently pushing symbols to symbolsource @pranavkm ?

[2015-09-11 21:01] muratg commented on #1
Closing since it seems we don't hit this in practice.

[2015-09-11 21:01] #1 closed

[2015-10-02 22:41] pranavkm opened #33 "Push packages in dependency order"
This avoids issues where a package depends on another that hasn't been uploaded as yet.

[2015-10-15 18:27] #33 closed

[2015-10-20 17:19] muratg commented on #29
:watch:

[2015-10-20 17:31] pranavkm commented on #29
We are, although a bunch of them don't get published because we're using a super old build of nuget. I have no idea how we got that binary. Could we publish this to MyGet instead? I think they have a symbol server offering. cc @Eilon

[2015-10-20 18:42] muratg commented on #29
I think pushing symbols to myget for dev/release branches are fine, though shouldn't we push to symbolsource for our nuget.org releases?

[2015-10-20 19:51] Eilon commented on #29
If we push to MyGet we'll run out of space... we're already using ~10GB...

[2015-10-28 03:39] JunTaoLuo opened #39 "Unused packages in coherence"
There are some packages that we pull in like `Microsoft.CodeAnalysis.Scripting.Common` which we do not need and can cause problems in our code. For example, packages without explicit target frameworks were causing exceptions in `CoherenceVerifier` which was temporarily resolved by #38. We need a long term solution based on some sort of black/white list of required packages.

cc @davidfowl @pranavk

[2015-10-28 04:03] pranavkm commented on #39
#38 looks like the right fix though - a package can't be non\in-coherent if it has no dependencies

[2015-10-30 12:48] Tratcher opened #40 "Set up a gated dependency pull for IdentityModel packages"
The security repo depends on a few different IdentityModel packages. It currently resolves these from a myget feed. However, sometimes those packages depend on a later version of CoreCLR than us, so it fails trying to restore dependencies. They also sometimes make breaking changes.

Establish a gated CI build that pulls from their feed (nightly or release) compiles and tests Security (and MusicSto

[2015-11-02 23:06] JunTaoLuo commented on #39
I guess the fix we had is sufficient then? Closing for now. @davidfowl, please reopen this if we should look into other solutions.

[2015-11-02 23:06] #39 closed

[2015-11-09 19:32] #22 closed

[2015-11-09 20:14] muratg commented on #22
Was the MVC and Security failures do to this?

[2015-11-09 20:17] Eilon commented on #22
The Security failure was unrelated - it was just a bad fix from me that @Tratcher fixed (thanks! :smile: )

The MVC failure was due to the missing CLR packages on the CI's local release volatile feed. And @pranavkm is fixing that. Not sure if it's exactly this issue.

[2015-11-09 20:19] pranavkm commented on #22
It sort of is. It should get resolved once https://github.com/aspnet/CoreCLR/issues/40 is fixed (working on it next)

[2015-11-11 21:10] muratg commented on #40
@pranavkm @Eilon As we progress into RC2, this would be more important than the other gate mechanisms

[2015-11-11 21:12] muratg commented on #29
How about blob storage?

But I think the more important question is, are we pushing all our symbols to symbolsource when we have releases? (i.e. when we push to nuget)

[2015-11-11 21:12] muratg commented on #23
@troydai still an issue?

[2015-11-11 22:03] Eilon commented on #29
Pushing stuff to blob storage isn't a solution - it's just another problem. Who manages that? Pays for it? Clears it out when it fills up? Makes it secure and with delegation?

I don't think we push any symbols anywhere at this time.

[2015-11-11 22:36] Eilon commented on #40
@Tratcher can you work with our CI experts to set this up?

[2015-11-11 22:37] pranavkm commented on #40
In this case, do we want to test the package beside attempting to restore it with the version of CoreCLR packages we have?

[2015-11-11 22:52] Tratcher commented on #40
cross-checking with coreclr is the most important.

[2015-11-12 20:48] troydai commented on #23
/cc @pranavkm
since the old CI is not accessible and I didn't find any error recently related to this cause. I think we can close this.

[2015-11-12 21:19] muratg commented on #23
:+1:

[2015-11-12 21:19] #23 closed

[2015-12-01 23:25] #40 closed

[2015-12-02 02:21] muratg commented on #40
@Tratcher Was this done?  What's the associated check-in?

[2015-12-02 05:07] Tratcher commented on #40
Yes
https://github.com/aspnet/CoreCLR/commit/47f579e57c6e8efc8b9e5ad99843b5f3fa55ede3
https://github.com/aspnet/Security/commit/0db9a16c915ba5e686f6e001af82853edca63e09

[2015-12-02 16:38] muratg commented on #40
Thanks!

[2015-12-11 23:32] pranavkm opened #47 "Re enable coherence verification for PlatformAbstractions"

[2016-01-27 22:09] pranavkm commented on #47
Fixed in https://github.com/aspnet/Coherence/commit/432f74468f134a5881b559555bff0ec60c404776

[2016-01-27 22:09] #47 closed

[2016-03-24 16:59] pranavkm opened #57 "Switch to the NuGet.Packaging.Core for sanity check"

[2016-03-25 20:21] muratg opened #59 "Harden nuget push to myget"
If a package push fails, we end up having incoherent unusable packages.  I know we have a lot of retries per package, but sometimes we do end up failing pushing.

One idea is having an outer loop tracks that the packages that failed to push and retries those failed packages in the next iteration. If all packages are successfully pushed loop exits.

We need to have the same logic in Coherence-signe

[2016-03-27 06:01] davidfowl commented on #59
We should also push in dependency order

[2016-03-27 16:52] Eilon commented on #59
Actually, we talked about pushing in *reverse* dependency order, i.e. push MVC/EF first, and DI/Options last (you know what I mean). The reason for this is to ensure that trying to restore MVC would 100% fail if it's an incoherent upload because it's guaranteed to fail. If you push in dependency order (DI/Options first), you might get weird kinds of failures because some packages got upgraded but

[2016-03-27 17:07] pranavkm commented on #59
We actually do push to aspnetcidev in dependency order today (and to volatile too since it gets built in order). In terms of hardening - we have 10 retries for individual packages with delays between retries. We also avoid re-pushing packages (right now this is CoreCLR packages only) that have been uploaded. If there are networking issues that prevent us from publishing packages, no sane amount of

[2016-03-28 11:17] muratg commented on #59
@pranavkm Can't we make it better though?  Half uploads did hurt folks internally and externally.

[2016-03-28 16:52] shirhatti opened #60 "Coherence failed to create `latest` symlink"
Build #16445 of Coherence failed to create a latest symlink.

Relevant log
[code]

[2016-03-28 16:52] shirhatti commented on #60
/cc @pranavkm

[2016-03-28 16:53] pranavkm commented on #60
cc @victorhurdugaci any ideas on what could cause the Access is denied?

[2016-03-28 16:58] victorhurdugaci commented on #60
No idea. I don't think the password changed for that user. I would run it again to see if it was just a sporadic issue

[2016-03-29 18:58] pranavkm commented on #60
Still seeing this. @victorhurdugaci could you have a look?

[2016-03-29 18:59] victorhurdugaci commented on #60
Link to builds? Is it on the same agent all the time?

[2016-03-29 18:59] pranavkm commented on #60
http://aspnetci/viewLog.html?buildId=77950&buildTypeId=Lite_Coherence&tab=buildLog

[2016-03-29 18:59] pranavkm commented on #60
Not sure on the build agent

[2016-03-29 22:07] victorhurdugaci commented on #60
Updated the password for every build. I think this should be fixed now

[2016-04-05 16:42] muratg commented on #60
Closing -- please re-open if the issue repro's

[2016-04-05 16:42] #60 closed

[2016-04-07 13:44] pranavkm opened #68 "We don't need to download packages.csv in makefile.shade"
The file is sitting in Coherence (https://github.com/aspnet/Coherence/blob/dev/packages/packages.csv) and we should just use that.

[2016-04-12 23:35] pranavkm opened #69 "Fix error message for incoherent packages"
`Expected Microsoft.NETCore.App (ï¿½ 1.0.0-rc2-23931)(netstandard15) but got 1.0.0-rc2-24008`

It should say 'the package was compiled against Microsoft.NETCore.App (1.0.0-rc2-23931) but the most recent version is 1.0.0-rc2-24008` or something like that.

[2016-04-12 23:40] pranavkm opened #70 "Libuv packages are marked as non-shipping"
* Microsoft.AspNetCore.Internal.libuv-Darwin and Microsoft.AspNetCore.Internal.libuv-Windows are marked as non-shipping while the Linux one is marked as shipping. Consequently these packages don't get published to cidev \ vnext by Coherence and Coherence-Signed.

[2016-04-12 23:40] pranavkm commented on #70
cc @halter73 \ @phenning

[2016-04-12 23:41] pranavkm commented on #70
cc @muratg - was this intentional? If not, we need to fix this for rc2

[2016-04-13 00:12] muratg commented on #70
@pranavkm No this wasn't intentional. Please mark them as shipping.

[2016-04-14 00:09] #70 closed

[2016-04-14 00:13] pranavkm opened #73 "Pick up .build directory from UniverseCoherence"
Need to follow up on https://github.com/aspnet/Universe/commit/6667fd0748cbb684006ad4d430c70983de5d7263 and pick up the .build directory we drop during UniverseCoherence.

[2016-04-14 00:17] pranavkm commented on #73
cc @Eilon - could you have some one look into this? We didn't pipe the .build directory all the way from UniverseCoherence -> Coherence.

[2016-04-14 09:51] Eilon commented on #73
@victorhurdugaci can you take a crack at this?

[2016-04-14 15:39] victorhurdugaci commented on #73
Sure, I can take a look

[2016-04-14 17:01] muratg commented on #69
:+1:

[2016-04-14 17:02] muratg commented on #26
No more dnx... :crying_cat_face:

[2016-04-14 17:02] #26 closed

[2016-04-14 22:21] #73 closed

[2016-04-25 23:23] #68 closed

[2016-05-10 16:06] natemcmaster opened #93 "Redirect packages after renames"
In absence of a first-class way to "rename" a package on nuget (like https://github.com/NuGet/Home/issues/1590), we should find a way to help users with package renames. It's hard to follow package renames.

Example:
[code]

One possible approach: issue an update to an old package that somehow throws a build error that alerts user of the new package name.

Two most recent examples of people confus

[2016-05-13 18:28] pranavkm opened #94 "Microsoft.Extensions.DependencyModel is listed as ship instead of ext"
This is a 3rd party package that is marked as `ship`. Consequently we modify it to be a timestamp free version in coherence and modify packages that depend on it to be timestamp free. This produces a downgrade warning:

[code]

[2016-05-13 18:29] pranavkm commented on #94
cc @Eilon \ @muratg \ @victorhurdugaci

[2016-05-13 22:21] Eilon commented on #94
We'll fix in RTM.

[2016-05-17 18:55] pranavkm opened #97 "Fix sanity check failures"
* [x] Microsoft.AspNetCore.Authentication.1.0.0-rc3-20932 depends on System.Net.Http v[4.0.1-rc2-24027, ) when the latest build is v4.1.0-rc3-24116-00.
* [x] Microsoft.AspNetCore.Cryptography.KeyDerivation.1.0.0-rc3-20932 depends on System.Security.Cryptography.Algorithms v[4.1.0-rc2-24027, ) when the latest build is v4.2.0-rc3-24116-00.
* [x] Microsoft.AspNetCore.Http.Abstractions.1.0.0-rc3-20932

[2016-05-17 19:02] pranavkm commented on #97
cc @NTaylorMullen \ @ryanbrandenburg \ @ajaybhargavb \ @BrennanConroy

[2016-05-17 19:04] pranavkm commented on #97
cc @JunTaoLuo

[2016-05-17 19:05] pranavkm commented on #97
The minor \ build versions for CoreFx packages have changed in rc3. Could you update the project.jsons so that it will pick up the rc3 versions. For instance https://github.com/aspnet/Options/blob/dev/src/Microsoft.Extensions.Options/project.json#L29 would change to ` "System.Linq.Expressions": "4.1.0-*",` per the error

[2016-05-17 22:05] Eilon commented on #97
@JunTaoLuo looks like you're working on this, so assigning to you.

[2016-05-17 22:06] Eilon commented on #94
@pranavkm is this covered by https://github.com/aspnet/Coherence/pull/96?

[2016-05-17 22:07] pranavkm commented on #94
Yup

[2016-05-17 22:10] Eilon commented on #93
Very good idea but not planning to do this in bulk. If we see specific packages where people use the wrong name, we can reconsider this and either create redirect packages for those specific cases, or perhaps do the whole thing.

[2016-05-17 22:10] #93 closed

[2016-05-17 22:11] pranavkm commented on #97
We were sort of sharing the burden here :smile:

[2016-05-17 22:11] Eilon commented on #97
I'll assign to Johnav Lushnamoorthy.

[2016-05-17 22:13] Eilon commented on #57
@pranavkm is this still needed?

[2016-05-17 22:16] pranavkm commented on #57
Done as part of https://github.com/aspnet/Coherence/commit/7d07721bbd5045d6fbd596f47c574e65139ce7ad

[2016-05-17 22:16] #57 closed

[2016-05-18 00:46] pranavkm commented on #97
Thanks @JunTaoLuo !

[2016-05-18 16:10] pranavkm commented on #97
The current plan is to revert these changes and go back to rc2 CoreFx \ CLI. I'll leave these open when we need to redo these again.

[2016-05-19 18:03] pranavkm commented on #94
Fixed in https://github.com/aspnet/Coherence/commit/db4edc1410c8ef5ff72e6cd814e185cd00e4c0f0

[2016-05-19 18:03] #94 closed

[2016-05-19 19:15] JunTaoLuo commented on #97
@pranavkm any idea when this needs to be done again?

[2016-05-19 19:27] pranavkm commented on #97
Not until we switch back to the RC3 packages. This is waiting on https://github.com/dotnet/cli/pull/3138

[2016-05-27 01:35] JunTaoLuo commented on #97
Updated all the repos

[2016-05-27 01:39] pranavkm commented on #97
:clap:

[2016-05-27 14:07] pranavkm opened #101 "Update projects targeting CLI packages to netstandard1.6"
`Microsoft.Dotnet.CLI.Utils`, `Microsoft.Extensions.DependencyModel`, and `Microsoft.Dotnet.ProjectModel` target netstandard1.6 as of the latest build. We need to update projects that consume it to `netstandard1.6` or higher.

[2016-05-27 14:07] #101 closed

[2016-05-27 18:05] pranavkm commented on #97
A couple more that seem to be new:

* [ ]  Microsoft.EntityFrameworkCore.Relational.1.0.0-rc3-21101 depends on System.Data.Common v[4.0.1-rc2-24027, ) (.NETStandard,Version=v1.3) when the latest build is v4.1.0-rc3-24127-00.
* [ ]  Microsoft.EntityFrameworkCore.1.0.0-rc3-21101 depends on System.Collections.Immutable v[1.1.37, ) (.NETFramework,Version=v4.5.1) when the latest build is v1.2.0-rc3-241

[2016-05-27 18:14] natemcmaster commented on #97
Are these new API versions supported on UWP?

[2016-05-27 18:20] pranavkm commented on #69
This was fixed in https://github.com/aspnet/Coherence/commit/db4edc1410c8ef5ff72e6cd814e185cd00e4c0f0

[2016-05-27 18:20] #69 closed

[2016-05-27 18:21] pranavkm commented on #97
@natemcmaster here's the package info - https://github.com/aspnet/Coherence/commit/db4edc1410c8ef5ff72e6cd814e185cd00e4c0f0

[2016-05-27 18:37] natemcmaster opened #102 "Add sanity check for Microsoft.NETCore.UniversalWindowsPlatform"
In the past, we have had package restore issues with UWP. This has been primarily do to UWP lagging on supporting the latest contract versions on BCL packages. We should add a sanity check that it is possible to restore EF with UWP.

[code]

[2016-05-27 21:25] muratg commented on #102
@natemcmaster We can bring this back if it's blocking anything in RTM.

[2016-05-27 21:43] natemcmaster commented on #102
Related note: even if we don't automate for RTM, this should be a sign off requirement.

[2016-05-27 22:39] muratg commented on #102
https://github.com/aspnet/Release/issues/12

[2016-05-28 01:09] JunTaoLuo commented on #97
Updated a few more reference. will keep this open to see if there are any others that I have missed.

[2016-05-31 17:50] JunTaoLuo commented on #97
I don't see any more issues related to this in our Coherence build. Closing.

[2016-05-31 17:50] #97 closed

[2016-06-03 20:27] smitpatel opened #103 "Microsoft.Extensions.StackTrace.Sources is missing in csv file"
@davidfowl @pranavkm

[2016-06-08 19:06] Tratcher opened #106 "The process cannot access the file '[...]\project.lock.json' because it is being used by another process."
[code]
This error keeps causing Universe-Coherence to fail. Needs investigation.

[2016-06-08 19:20] pranavkm commented on #106
I think the issue might be because dotnet build and dotnet restore don't share the same lock (and so we run into this).

[2016-06-08 19:26] Tratcher commented on #106
I've forwarded this to Joel on nuget.

[2016-06-08 19:35] #103 closed

[2016-06-09 22:44] javiercn opened #108 "Remove unnecessary imports from our testing projects"
Currently waiting on xunit and Moq support for netstandard.

[2016-06-10 21:32] Tratcher commented on #106
https://github.com/dotnet/cli/issues/3476

[2016-06-10 21:33] pranavkm commented on #106
I'll turn off parallel builds until this is sorted. (Yaay for cleaner logs!)

[2016-06-10 21:33] Tratcher commented on #106
[code]

[2016-06-15 19:07] pranavkm commented on #106
Are we still seeing this?

[2016-06-15 19:08] Tratcher commented on #106
Not since my last comment 5 days ago.

[2016-06-15 22:58] pranavkm opened #110 "Remove package-dependencies from makefile.shade"
We no longer need to run DependenciesPackager as part of Coherence. cc @javiercn

[2016-06-15 23:44] javiercn commented on #110
Yep, we can remove it from here, but we might keep a command to run a restore on ship\project.json to ensure the consistency of our shipping packages, this is incredibly useful in detecting misconfigured packages within our graph and missing third party dependencies we aren't accounting for.

[2016-07-01 16:11] pranavkm opened #113 "Enable coherence check when we start building 1.0.1 packages"
We set `DISABLE_COHERENCE_CHECK=true` in Coherence to allow us to continue produce E2E release builds. This work item tracks removing this condition once we start building 1.0.1 builds on the CI.

[2016-07-07 18:46] pranavkm commented on #106
We haven't seen this since switching to building a repo at a time. It's twice as slow, but works. Closing this for now - we could reopen it if the CLI issue gets resolved.

[2016-07-07 18:46] #106 closed

[2016-07-26 16:24] pranavkm commented on #113
We're building 1.0.1 separately from Coherence \ our regular pipeline. We don't need to do any work here.

[2016-07-26 16:24] #113 closed, assigned to pranavkm

[2016-08-08 17:50] pranavkm commented on #110
@javiercn Coherence-Final still runs this. So we do have coverage, just later in the pipeline.

[2016-08-10 23:53] #110 closed

[2016-08-10 23:55] pranavkm commented on #108
We have a couple left here from WebAPI and Scaffolding. The xunit and Moq ones are all sorted now.

[2016-08-12 18:29] pranavkm opened #120 "Fix test-restore"
Currently failing with

[code]

cc @javiercn

[2016-08-15 19:44] javiercn commented on #120
Fixed by changing the way SplitPackages classifies the packages by only looking at the lib folder instead of calling GetSupportedFrameworks().

[2016-08-15 19:44] #120 closed, assigned to javiercn

[2016-08-25 16:57] pranavkm opened #124 "Publish symbols to dotnet.myget.org along with signed packages"
This is two part work
- As part of publishing signed packages, we should publish symbols with them.
- As part of Coherence-Signed, we need to create timestamp free versions of symbols packages. This will let us publish the right package versions to the feed.

[2016-09-23 17:26] muratg commented on #124
cc @Eilon

[2016-10-04 14:32] pranavkm opened #134 "Remove references to Microsoft.DotNet.InternalAbstractions"
Microsoft.DotNet.InternalAbstractions was refactored and renamed as part of 1.1 to Microsoft.DotNet.PlatformAbstractions. We should update our code to no longer reference this package:

https://github.com/search?q=org%3Aaspnet+InternalAbstractions&type=Code

[2016-10-10 19:01] pranavkm opened #137 "Re-enable Coherence verification"
Temporarily disabling this check since referencing older build of `Microsoft.Extension.DependencyModel` is causing the build to fail. This is a task to re-enable it once we pick up the new builds (possibly by EOD).

[2016-10-10 19:01] halter73 opened #138 "Update TFMs of our samples and test apps from netcoreapp1.0 to netcoreapp1.1"
@DamianEdwards explains "Just because the outer-most package _Microsoft.NETCore.App_ still only lists netcoreapp1.0 (which I agree is confusing) doesn’t mean there aren’t packages further down in the graph that target netcoreapp1.1 specifically. You’ll need to target netcoreapp1.1 in applications to ensure you get the right closure all the way down."

[2016-10-10 19:08] pranavkm commented on #138
Would templates also need to be updated? cc @phenning

[2016-10-10 21:37] dougbu commented on #137
As discussed offline, we should not have done this in the first place. Means Coherence will succeed with incoherent packages. More generally, should reserve disabling the dependency check for extreme situations since this is what Coherence is _about_.

[2016-10-12 18:08] pranavkm opened #139 "Update to latest OpenId packages"
cc @muratg

[2016-10-13 15:48] pranavkm commented on #138
We figured this doesn't work for tools - dotnet \ NuGet assumes tools at most target `netcoreapp1.0`. The plan is to update samples and test applications for this release to target `netcoreapp1.1`.

[2016-10-13 21:35] #139 closed, assigned to pranavkm

[2016-10-13 21:35] #138 closed, assigned to pranavkm

[2016-10-13 21:35] #137 closed, assigned to pranavkm

[2016-10-13 22:22] pranavkm opened #141 "Downgrade tools to target Microsoft.NETCore.App 1.0.0"
Following up the discussion to change the TFM for Microsoft.NETCore.App 1.1 to `netcoreapp1.1`, we should downgrade all our tools to target `Microsoft.NETCore.App 1.0.0`.

[2016-10-28 20:53] pranavkm opened #147 "Add some automation to bump up patch versions"
When a repository produces a patch build, we have to produce a patch for all the packages that consume it that reference the patched build. It would be useful to have some form of automation to support this.

See discussion at https://github.com/aspnet/Coherence-Patch/pull/21#issuecomment-257021134

[2016-10-28 21:01] Eilon commented on #102
@natemcmaster @divega @rowanmiller do we still need this? Still useful? Any plans to do it?

[2016-10-28 21:01] Eilon commented on #59
Do we still need this? Have we seen NuGet failures in a while? I figured the switch to dotnet.myget.org made things a lot better for us...

[2016-10-28 21:03] pranavkm commented on #59
Actually no. It's super fast and way more reliable than www.myget.org. In fact, we could probably get rid of lot of the custom batching we wrote in KoreBuild \ Coherence \ Coherence-Signed etc and just do `nuget.exe push *.nupkg` since it's really fast.

[2016-10-28 21:03] Eilon commented on #59
Easier to do nothing 😄

[2016-10-28 21:03] #59 closed

[2016-10-28 21:21] natemcmaster commented on #102
Probably not useful at this point. BCL team has improved their processes.

[2016-10-28 21:40] rowanmiller commented on #102
Yeah I think this has been much less of an issue. I'd like to get an ok from @bricelam before closing though.

[2016-10-28 22:02] Eilon commented on #102
Okie dokie, thanks!

[2016-10-28 22:17] bricelam commented on #102
Don't need this, but it would be nice if we mirrored the UWP dependency packages of NETStandard.Library on aspnetcore-dev so you don't have to also the dotnet-core feed

[2016-10-28 23:27] Eilon commented on #102
@pranavkm can we mirror the package @bricelam mentions?

[2016-10-28 23:31] pranavkm commented on #102
https://github.com/aspnet/CoreCLR/issues/142

[2016-10-28 23:38] Eilon commented on #102
Ok cool, closing this issue then.

[2016-10-29 00:06] #102 closed

[2016-11-01 18:14] pranavkm opened #149 "Consider a configuration that builds Universe (compile + test) on xplat"
In our regular workflow, we create packages on Windows that are consumed in xplat tests. The partner mirroring wasn't setup this way - it attempts to build and test in parallel on all xplat scenarios. This often ends up finding issues in build (such as casing package Id incorrectness) which don't affect the package creation on Windows. Fixing it at the point that we're tying to pick up partner pac

[2016-11-03 17:46] pranavkm commented on #147
@JunTaoLuo seemed super enthusiastic to do this 👍

[2016-11-08 00:06] pranavkm opened #151 "Switch from SignalR-Server -> SignalR"
Modify UniverseCoherence \ Coherence to start building github.com/aspnet/SignalR instead of the current set of SignalR-* repos.

[2016-11-08 00:06] pranavkm commented on #151
cc @davidfowl \ @anurse . Does this sound about right?

[2016-11-08 03:11] davidfowl commented on #151
:shipit:, we should pin the last build of the older package on myget as well @Eilon

[2016-11-08 16:57] Eilon commented on #151
Can certainly do that, but why? Was it any good?

[2016-11-09 03:40] muratg commented on #151
@Eilon there (possibly) may be folks who restore that package.

[2016-11-09 17:42] Eilon commented on #151
Per discussion, this is unlikely to be needed because until the new stuff builds, the old packages will be around.

[2016-11-09 22:49] pranavkm opened #152 "Move SignalR-Client-CPP to https://github.com/aspnet/MicroBuild-Signed"
We don't build the package as part of Universe. We can independently sign it in the secondary signing service

[2016-11-23 00:35] Eilon commented on #141
@pranavkm @natemcmaster this is all done already, right?

[2016-11-23 00:36] Eilon commented on #151
@pranavkm any further work here? Good to close?

[2016-11-23 00:37] pranavkm commented on #141
Yup. @natemcmaster can confirm, but this can be closed.

[2016-11-23 00:37] pranavkm commented on #151
Fixed in https://github.com/aspnet/Universe/commit/de71fc340b9238fe5f55010236c8705593eaaab4

[2016-11-23 00:37] #151 closed, assigned to nobody

[2016-11-23 01:03] natemcmaster commented on #141
The MSBuild version of tools are targeting `Microsoft.NETCore.App 1.0.1`. Based on the outcome of our "prefercliruntime" feature of CLI, we may need to do work here.

[2016-11-23 21:22] Eilon commented on #141
@natemcmaster ok, I'll park on your plate in the meantime.

[2016-11-28 08:17] Eilon commented on #12
Closing because we are not planning to make changes to this or it is no longer needed.

[2016-11-28 08:17] #12 closed

[2016-12-07 18:23] prafullbhosale commented on #141
I am assuming scaffolding needs to do this as well.

[2016-12-07 22:45] natemcmaster commented on #141
Resolved by
https://github.com/aspnet/EntityFramework.Tools/pull/32
https://github.com/aspnet/Scaffolding/pull/358
https://github.com/aspnet/DotNetTools/pull/241

[2016-12-07 22:45] #141 closed, assigned to natemcmaster

[2016-12-20 01:24] ajaybhargavb opened #159 "Figure out a way to deal with new CoreCLR packages"
After a new successful build of CoreCLR, our Coherence check fails with errors like `Microsoft.Extensions.DependencyInjection.1.2.0-preview1-22941 depends on NETStandard.Library v[1.6.1, ) (.NETStandard,Version=v1.1) when the latest build is v1.6.2-beta-24816-02`.
I've temporarily disabled product packages verification.

cc' @Eilon @pranavkm

[2016-12-20 18:23] Eilon commented on #159
Parking this on your plate until we can sync with @pranavkm .

[2016-12-22 18:40] pranavkm commented on #159
Should be fixed now. I checked in changes to all the repos to start referencing the new CoreFx packages and turned the coherence check back on. We can close this once we have a Coherence build.

[2016-12-22 22:03] Eilon commented on #159
How can we make this be more automatic?

[2016-12-22 23:49] ajaybhargavb opened #160 "Need to update TFMs in all projects"
As a follow-up to this https://github.com/aspnet/Coherence/issues/159#issuecomment-268862996, we also need to update TFMs everywhere.

[2016-12-28 01:19] JunTaoLuo commented on #147
Holding off on more work on this issue since it's not clear if this is still needed after the migration to MSBuild.

[2017-01-17 18:40] pranavkm opened #162 "Hyperlinks in NuGet.org packages are over http and not https"
Looking at our 1.1.0 packages, we have

[code]

which consequently results in a "Parts of this page are not secure" warning when we visit the package on nuget.org. e.g. https://www.nuget.org/packages/Microsoft.AspNetCore.Razor

No good reason for these links to http when the https equivalent works just fine.

[2017-01-20 19:13] pranavkm opened #163 "Revert https://github.com/aspnet/Coherence/commit/133c9a945b6da13ba64f82ae2380434f145d1bea once we pick up new IdentityModel packages"
https://github.com/aspnet/Security/commit/fddfad14c9ce757717e4dfd2db5bf4f045b9d52e picked up packages from NuGet.org newer than the ones in the feed. This is causing Coherence to fail. However the 2.1.3-* packages on their nightly feeds are broken. Once we pick up the newer packages we need to update Security and remove this exclusion.

[2017-01-20 19:13] pranavkm commented on #163
Assigned to @Tratcher to revert this change when Security is updated.

[2017-02-09 18:32] #147 closed, assigned to JunTaoLuo

[2017-02-11 22:40] pranavkm opened #166 "Update to Microsoft.NETCore.App 2.0 \ NETStandard.Library 2.0.0"
| Repository | netcoreapp2.0 | net46 | net461 \ NS.Library 2.0.0 |
| -----------| --------------| ----- | ------ |
| Antiforgery | :heavy_check_mark: | ✔️  |  |
| AzureIntegration | :heavy_check_mark: | ✔️  |  |
| BasicMiddleware | :heavy_check_mark: | ✔️  |  |
| BrowserLink | ✔️ | ✔️ |  |
| Caching | :heavy_check_mark: | ✔️  |  |
| Common | :heavy_check_mark: | ✔️ |  |
| Configuration | :heavy_ch

[2017-02-11 22:41] pranavkm commented on #166
cc @pakrym

[2017-02-16 06:39] natemcmaster opened #167 "Upgrade to VS 2017"
Remove project.json, move to csproj

[2017-02-23 19:59] dougbu commented on #166
See also @natemcmaster's comment from https://github.com/aspnet/Mvc/pull/5852#discussion_r102803250

There is a 2.0.0 version being built...https://github.com/dotnet/core-setup/blob/master/src/Microsoft.Extensions.DependencyModel/. Let's add that to the list of things we upgrade when we move everything to netstandard2.0 / .NET Core 2.0.

[2017-02-24 18:41] pranavkm opened #170 "Use nuget.exe install \ nuget.exe push to create package directory"
We were using NuGet APIs to produce case-consistent expanded package directory and APIs to speed up pushing partner packages. Since the number of partner packages we push is significantly smaller now, we should switch to using the exe to do these operations rather than the API (which is very fast changing).

[2017-02-24 19:07] natemcmaster commented on #170
What about xplat? "dotnet nuget push" exists, but AFAIK "dotnet nuget install" isn't available yet.

[2017-02-24 19:15] pranavkm commented on #170
We don't run Coherence on xplat (as yet). So we can live without it. Plus the code can be revived if we ever decide to run it xplat.

[2017-02-24 20:10] #167 closed, assigned to pranavkm

[2017-02-26 04:12] pranavkm commented on #160
We can do this as part of https://github.com/aspnet/Coherence/issues/166

[2017-02-26 04:12] #160 closed, assigned to pranavkm

[2017-02-28 22:33] Tratcher commented on #163
https://github.com/aspnet/Security/commit/c18a3d3a7d9e9771638b74ad5c7777f33e4363a6

[2017-02-28 22:33] #163 closed, assigned to Tratcher

[2017-03-01 01:44] pranavkm commented on #163
Btw, they have 2.1.4-* on their feeds now. I'm not entirely sure what our policy on their packages needs to be - should we pin to an earlier version that works?

[2017-03-01 02:50] Tratcher commented on #163
Let's wait on 2.1.4, they're doing it for katana.

[2017-03-04 18:32] pranavkm commented on #162
Dup of https://github.com/aspnet/Coherence-Signed/issues/410

[2017-03-04 18:32] #162 closed, assigned to nobody

[2017-03-13 18:10] pranavkm commented on #166
cc @kichalla

[2017-03-21 18:28] muratg commented on #166
:eyes:

[2017-03-22 16:11] pranavkm commented on #170
Closing this - we actually need the retry + some cleverness around not passing keys to the `exec` task. Would be useful to turn this what we have here to a custom tool that we use in our builds.

[2017-03-22 16:11] #170 closed, assigned to nobody

[2017-03-28 16:24] pranavkm opened #175 "Remove unnecessary package references"
We should do a scan and figure out if there are any package references we don't actually need in our projects. For instance, https://github.com/aspnet/Logging/pull/585

[2017-03-28 16:24] pranavkm commented on #175
cc @davidfowl

[2017-03-29 18:04] muratg commented on #159
@pranavkm Good to close?

[2017-03-29 22:25] mikeharder opened #177 "PackagePublisher - InvalidOperationException: Collection was modified"
PackagePublisher failed with the following error in build Coherence#24169:

[code]

[2017-03-29 22:39] pranavkm commented on #177
Might be a dup of https://github.com/aspnet/BuildTools/issues/221.

[2017-03-29 22:43] mikeharder commented on #177
Might be the same root cause, but two different source files.

[2017-03-31 19:22] Eilon commented on #166
FYI to those watching, @NTaylorMullen is investigating moving the Razor repo to NETStandard.Library 2.0.0. He had no issues with that in VS2017 RTM.

He's also now investigating what happens if we add a `netstandard20` TFM, which is where we think the pain points in VS2017 are (command line should work fine).

[2017-03-31 23:47] NTaylorMullen commented on #166
I was able to upgrade Razor without problem to `netstandard2.0` TFM. Here's the steps I took:

- Downloaded/installed the latest CLI (005685).
- Modified our `cli.version` file to point to new CLI
- Set the following env variable `$env:MSBuildSdksPath="C:\Users\nimullen\AppData\Local\Microsoft\dotnet\sdk\2.0.0-preview1-005685\Sdks"`
- Open VS (15.0.0+26228.12) with the env variable set.

Here's th

[2017-03-31 23:49] pranavkm commented on #166
Were you able to build from the cmdline with the env variable set? I had trouble building from the command line with it set. Also, presumably this did not involve replacing `net46` -> `netstandard2.0` in a src project and updating tests to `net461`?

[2017-04-03 03:08] NTaylorMullen commented on #166
I was able to do a `./build` successfully.

[2017-04-04 13:58] kichalla commented on #177
Fixed with 2b71b3d0a83689ebdf8e6ee2ad0ee3349cd0ba22

[2017-04-04 13:58] #177 closed, assigned to kichalla

[2017-04-07 20:14] Eilon commented on #175
In theory the work is this:

1. Find all csproj files in all src folders in all repos
2. Delete all "System.*" package references
3. If it compiles, send a PR and get it merged
4. If it doesn't compile, figure out what's needed and go to step (3)

[2017-04-07 20:15] Eilon commented on #159
Doesn't appear to be any work left here. If this becomes a problem in the future we'll investigate.

[2017-04-07 20:15] #159 closed, assigned to ajaybhargavb

[2017-04-07 20:15] pakrym commented on #175
I was thinking about checking which package dll's got optimized out from assembly references by compiler.

[2017-04-07 20:17] Eilon commented on #152
Where does the C++ client get signed today?

cc @moozzyk

[2017-04-07 20:21] Eilon commented on #149
Closing because the value doesn't seem to be that much, compared to doing the work we have to do anyway when such a failure occurs.

[2017-04-07 20:21] #149 closed, assigned to nobody

[2017-04-07 20:23] Eilon commented on #134
TODO: Split this bug into one bug for each affected repo.

[2017-04-08 03:55] moozzyk commented on #152
I just added it to MicroSigned build yesterday - https://github.com/aspnet/MicroBuild-Signed/commit/cae3fca7326c2a9ec6fd514ee3c1ea824c63d229 so that we have signed bits to release.

I guess this issue can be closed now.

[2017-04-09 00:19] Eilon commented on #152
Okie dokie.

[2017-04-09 00:19] #152 closed, assigned to moozzyk

[2017-04-09 00:34] Eilon commented on #175
@pakrym that could certainly work as well.

[2017-04-10 15:42] Eilon commented on #134
Farmed out to here:

* https://github.com/aspnet/Performance/issues/217
* https://github.com/aspnet/Scaffolding/issues/445
* https://github.com/aspnet/Docs/issues/3198

[2017-04-10 15:42] #134 closed, assigned to Eilon

[2017-04-11 23:03] kichalla opened #190 "Fix IntegrationTesting reference to use 0.4.0-*"
There are bunch of repos which use incorrect version of IntegrationTesting package:
https://github.com/search?q=org%3Aaspnet+AspNetCoreLabsVersion&type=Code

Fix them to use `0.4.0-*` version instead

[2017-04-13 20:19] kichalla commented on #190
cc @pranavkm

[2017-04-19 20:21] #190 closed, assigned to kichalla

[2017-04-21 20:37] pranavkm opened #195 "Convert branches for things that shipped into tags"
We haven't done this in a couple of patch releases, but we should revive the practice of turning our branches in to tags once we're done shipping.

[2017-05-05 04:55] Eilon opened #206 "Package dependency mismatch warnings for various CoreFX libs"
These warnings appear on the CI. Not sure when they started. I'm also not sure what their significance is, because we will likely have various places that depend on various versions of the same CoreFX library. So, either we need to fix these warnings, or perhaps consider not having these warnings at all (for this circumstance).

[code]

See http://aspnetci/viewLog.html?buildId=215807&tab=buildResu

[2017-05-05 05:03] pranavkm commented on #206
That's the Coherence verifier. All it states is that we mirror the 4.4.40 versions but aren't referencing it. There's a flag that can be set in the build configuration to disable these warnings.

[2017-05-05 05:19] Eilon commented on #206
Right. I'm guessing at some point we wanted to ensure we always use the same CoreFX libs, but I think that given how things work today, that maybe that isn't really something we are concerned about?

[2017-05-09 17:59] Eilon commented on #166
Moving this bug to preview2 since we've done everything we plan to do for preview1.

[2017-05-10 21:10] #175 closed, assigned to pakrym

[2017-05-11 12:22] kichalla opened #208 "Test nodes which do a full build should have a different build number than the Coherence one"
Following highlighted nodes actually do a full build (compile all repos + run tests)

![image](https://cloud.githubusercontent.com/assets/6559784/25948563/e7c01af2-3608-11e7-8eb1-522df0aed26c.png)

Having the same build number as Coherence (a dependency that a test node has) while helps in seeing that all these nodes are part of a set or chain, its problematic since when restoring packages for a r

[2017-05-11 12:35] kichalla opened #209 "Test nodes should use the snapshot dependency commit information to clone Universe's repos"
Following test nodes do a full build:

OSX-Universe
Ubuntu-Universe
~~Win10-Universe~~
~~Win2008-Universe~~
~~Win7-Universe~~
~~Win8-Universe~~
~~WinNano-MusicStore~~

But when they clone repos (as part of building Universe) they seem to not use the exact commits that a dependent UniverseCoherence build had run earlier. Like the test nodes always clone the latest. TeamCity provides the information

[2017-05-11 14:15] pakrym commented on #209
Why can't we use artifact dependency and avoid building anything?

[2017-05-11 14:36] kichalla commented on #209
I had the same question but I believe the idea was to make sure we try to build on different platforms to uncover any issues(Example: an end user can clone our repo and does a build on Ubuntu or Mac). Even though we build on Ubuntu and OSX in the mirror and ~~could use artifacts in these cases~~(Universe Coherence make many more runs than in the mirror due to frequent checkins), that would still l

[2017-05-11 17:44] pranavkm commented on #209
It's just messy to set up the build to think it's already compiled and it only needs to do a test run. We kept having to make exclusions where the repo just did a regular build regardless.

[2017-05-12 13:07] kichalla commented on #209
I found that we are already doing this!

Snippet from detailed log:
[code]

[2017-05-12 13:59] kichalla commented on #209
I added some new log messages to Universe to quickly show us which commits its using and seems like all windows test builds use the repository information from the dependent chain but the OSX and Ubuntu test builds do not. Re-opening this to track these:

**Log (after my changes) for windows builds:** (notice the path to 'Repositories.props' file here...it depends on the dependencies repository li

[2017-05-12 17:09] kichalla commented on #209
I fixed the OSX and Ubuntu universe test nodes now.

[2017-05-12 17:09] #209 closed, assigned to kichalla

[2017-05-12 17:25] kichalla commented on #209
Just FYI...I changed the artifact dependency of the OSX and Universe test nodes to have this `artifacts.zip!build=>.deps/build`

[2017-06-06 18:58] #166 closed, assigned to pranavkm, kichalla

[2017-08-03 21:20] Eilon commented on #29
Closing this because there's no specific action on this issue. We do now have symbols, we just don't have a policy on where to push them. That's being figured out with the .NET team.

[2017-08-03 21:20] #29 closed

[2017-08-03 21:21] Eilon commented on #108
Not aware of any current problem here.

[2017-08-03 21:21] #108 closed

[2017-08-03 21:23] Eilon commented on #195
Can you remind us why we would do this?

[2017-08-03 21:26] Eilon commented on #206
Please verify that there's nothing left here.

[2017-08-03 21:27] pranavkm commented on #195
The idea is that tags are meant to be immutable (or at least less mutable than branches), can be associated with a GitHub release and it's cleanly tucked away in the UI with all other releases

![image](https://user-images.githubusercontent.com/174281/28944458-789d9cee-7857-11e7-856f-8a550cd357d2.png). That said @smitpatel did most of the conversion for the patch and preview releases. rel/2.0.0 is

[2017-08-03 21:29] Eilon commented on #208
Hmm it seems like the bigger question is: why do any of the test builds compile the source of the product? Presumably the regular (Windows) build produces every artifact that is needed for every system.

@natemcmaster / @pranavkm - any idea why some test runs compile the product?

[2017-08-03 21:30] pranavkm commented on #195
Also, another useful outcome of having branches is that it disappears from TeamCity's dropdown of working branches.

[2017-08-03 21:30] Eilon commented on #195
Ok, assigning to @smitpatel if there's anything to do for 2.0.0.

[2017-08-03 21:36] smitpatel commented on #195
Before converting to tags, we may need to pin versions if they are floating. (or we can just leave it as is).

I will be updating NuGet.config files and converting to tags once our packages are on nuget.org

[2017-08-03 21:48] pranavkm commented on #208
Since tests reference projects via project references (i.e. `<ProjectReference Include"..\..\src\SrcProj.csproj" />`), we'd have to do some cleverness to have it not recompile src. It was kinda easy to do this in project.json + global.json world by simply deleting the src directory. However, even this approach was riddled with exceptions for cases that required src projects to be present on disk (

[2017-08-03 21:50] pranavkm commented on #195
We should pin dependency versions, build tool versions (KoreBuild floats versions) and product version when we create the 2.0.0 tags.

[2017-08-03 23:14] smitpatel commented on #195
co-assigned @pranavkm to pin all required versions as needed.

[2017-08-14 16:26] pranavkm commented on #195
Let's get this sorted today \ tomorrow.

[2017-08-15 00:48] mikeharder commented on #206
Verified there are no hits for "when the latest" in either UniverseCoherence or Coherence build logs.

[2017-08-15 00:48] #206 closed, assigned to mikeharder

[2017-08-17 23:14] pranavkm commented on #195
This is done for 2.0.0. Here's my super hacky script for pinning versions in case that's of interest for https://github.com/aspnet/Universe/issues/528

[code]

[2017-08-18 00:21] #195 closed, assigned to pranavkm

[2017-08-18 15:10] Eilon commented on #195
Great job!

[2017-08-24 20:07] mrahhal commented on #124
Hey, I've been searching for quite a bit, and I can't seem to find where the symbols (for aspnetcore 1) are stored. I tried some of the following:
- https://nuget.smbsrc.net
- https://dotnet.myget.org/F/aspnetcore-release/symbols
- http://msdl.microsoft.com/download/symbols

Are there up-to-date instructions on this anywhere?

[2017-08-24 20:08] Eilon commented on #124
We have the symbols for ASP.NET Core 1.1 and 2.0 on the Microsoft public symbol servers. We haven't done symbol packages.

[2017-08-24 20:15] mrahhal commented on #124
Forgive my ignorance, but what does this exactly mean? 😅
I've been looking for information about this everywhere, but most date to a very long time ago.

[2017-08-24 20:40] pranavkm commented on #124
Symbol nupkgs contain a copy of the sources that were built along with the pdb. We published it for the 1.0.0 release (for instance https://dotnet.myget.org/F/aspnetcore-master/symbols/Microsoft.AspNetCore.Mvc/1.0.0) but haven't' since. For the 1.1 and 2.0 release, we have pdbs in the symbol server.

[2017-08-25 06:06] Eilon commented on #124
@mrahhal the Microsoft Public Symbol Server is at `https://msdl.microsoft.com/download/symbols` - make sure that's listed in your Visual Studio debugger settings for symbols.

[2017-08-25 07:08] mrahhal commented on #124
@Eilon I have that, but still not working for some reason. Maybe it's my setup (I made sure to disable "Enable Just my Code").

"It's not working" means that I added a breakpoint at `var host = new WebHostBuilder()` to start with, stepping into did not "step into" WebHostBuilder. (I tried in several other places)

[2017-08-25 18:30] Eilon commented on #124
Ah, the symbols don't enable stepping into source - they do enable things such as line numbers and more details about local variables.

We plan to add source stepping in the near future, we just haven't gotten to it yet.

[2017-08-25 18:33] mrahhal commented on #124
Oh.. Makes sense now. That would be really great.

[2017-09-29 21:51] natemcmaster commented on #208
Hopefully we can address this in https://github.com/aspnet/Coherence-Signed/issues/648. It would be awesome to find a way to avoid rebuilding the product in order to run tests.

[2017-10-02 03:48] Eilon commented on #208
I think perhaps even ideally we'd run tests on *signed* packages, no? We've long talked about at least changing the order of things, which at least would mean to turn tests in *parallel* with signing, but we could possibly even run it *after* signing, in which case we'd *have* to use package refs.

[2017-11-01 17:48] smitpatel commented on #195
@pranavkm - Can we do this for patch 1.0.x & 2.0.x series too? There is too much branch clutter now since for some reason we are creating rel & patch both branches.

[2017-12-13 00:52] #124 closed, assigned to Eilon

[2017-12-13 00:52] #208 closed, assigned to nobody